.gradle
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
*.lockfile
.idea/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
bin/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/
.DS_Store
Thumbs.db
local.properties
*.hprof
*.jks
app/build